body {
    margin: 0;
    padding: 0;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    min-width: 1200px;
    /*min-height: 1925px;*/
    /*background: #f8f8f8;*/
    background-image: url("../img/fon.jpg");
}

a {
    text-decoration: none;
}

header {
    background-color: #8217ff;
    color: #f8f8f8;
}

.headerlong {
    width: 100%;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.menu li {
    display: inline;
    list-style: none;
    font-size: 25px;
    font-style: italic;
    margin-right: 25px;
}

.main-navigation {
    color: #ffffff;
    font-family: "Verdana", "Arial", sans-serif;
    line-height: 75px;
    text-transform: uppercase;
}

.menu-item {
    display: block;
}

.menu-item a:hover {
    text-decoration: none;
    color: #fff;
    background: #961cff;
    padding: 20px;
}

h1 {
    color: #8217ff;
    font-size: 18px;
    font-weight: 400;
    /*background-color: #eaeaea;*/
}

img {
    border: 2px solid #8217ff;
}

img:hover {
    border: 2px solid #fffbf9;
}

.logo {
    float: left;
    margin-right: 30px;
}

.form {
    width: 225px;
    height: 35px;
    background: #a58ef5;
    padding: 0 10px;
    text-transform: capitalize;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.row {
    width: 66%;
    float: right;
}

.block {
    display: block;
    clear: both;
    content: '';
}

.location {
    width: 21%;
    float: left;
    margin-right: 4%;
}

.basketButton {
    color: #ffffff;
    font-family: "Verdana", "Arial", sans-serif;
    line-height: 40px;
    text-transform: capitalize;
    background-color: #8217ff;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    float: right;
}

.basketButton:hover {
    background-color: #ad76ea;
    border: 2px solid #000000;
}

.basketButton:active {
    background-color: #7d1aea;
    border: 2px solid #000000;
}

.detailed {
    color: #ffffff;
    font-family: "Verdana", "Arial", sans-serif;
    line-height: 75px;
    text-transform: uppercase;
    background-color: #8217ff;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

.price {
    color: #ffffff;
    font-family: "Verdana", "Arial", sans-serif;
    line-height: 35px;
    background-color: #8217ff;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    width: 175px;
}

.button {
    color: #ffffff;
    font-family: "Verdana", "Arial", sans-serif;
    text-transform: uppercase;
    background-color: #8217ff;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

input {
    padding: 12px;
    border-radius: 3px;
    border: 1px solid black;
}
::-webkit-input-placeholder {
    color: #fff6f8;
}

.table {
    border-collapse: collapse;
    border-color: #8217ff;
    background-color: #961cff;
    color: white;
}

caption {
    color: #8217ff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.letter {
    color: #ffffff;
    font-family: "Verdana", "Arial", sans-serif;
    line-height: 15px;
    text-transform: uppercase;
    background-color: #8217ff;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.breadcrumb {
    list-style: none;
    font-size: 10px;
    font-style: italic;
    color: #8217ff;
}

.breadcrumb li{
    display: inline;
}

.active {
    text-decoration: underline;
}


footer {
    /*width: 1160px;*/
    padding: 1px 20px;
    margin: 0 auto;
    font-size: 18px;
    background-color: #8217ff;
    color: #f8f8f8;
}

footer p {
    float: right;
    margin: -45px 10px 0 0;
    width: 600px;
}

.footer-social {
    display: flex;
    padding: 0;
    list-style: none;
}

.social {
    /*padding: 48px 0 65px 0;*/
    margin: -7px -17px -5px -40px;
}

.social ul {
    display: flex;
    list-style: none;
}

.social a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 51px;
    height: 39px;
    /*border-radius: 50px;*/
    /*margin-right: 10px;*/
    /*background-color: #e1e1e1;*/
}

.social img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*.social a:hover {*/
    /*background-color: #8311a0;*/
/*}*/

/*.social a:active {*/
    /*background-color: #8311a0;*/
/*}*/

.footer-social {
    display: flex;
    flex-direction: row;
    /*margin-left: 140px;*/
    /*margin-right: 140px;*/
    padding: 0;
    align-items: center;
}

.clean {
    clear: left;
}
